@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/responsive.scss';

.users {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  > .dataTable {
    .MuiBox-root {
      margin: 0;

      .dataGrid.MuiDataGrid-root {
        height: 600px;
      }
    }
  }
}
