// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$textColor: hsl(240, 1%, 48%);
$inputColor: hsl(330, 12%, 97%);
// Font and typography
$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$smallestFontSize: 0.75rem;
//Transition
$tran-05: all 0.5s ease;
